.frameInfo {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 2rem;
}

.infoBox {
  grid-column: 1/5;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.price {
  text-align: right;
  grid-column: 5/7;
  height: 4rem;
}

.description {
  grid-column: 1/7;
  min-height: 15rem;
}

.info {
  font-size: 1.8rem;
  position: relative;
  padding: 0.8rem 1rem;
  height: 4rem;
  border: 1px solid var(--color-border);
  border-radius: 0.5rem;
}

.info:last-child {
  padding: 1rem;
}

.label {
  position: absolute;
  top: -1.3rem;
  left: 1rem;
  padding: 0 0.3rem;
  font-size: 1.4rem;
  color: var(--color-hd-second);
  background-color: #fff;
}
