.wrapper {
  width: 1300px;
  padding: 0;
}

.dashHeading {
  font-size: 2.2rem;
  text-transform: uppercase;
  color: var(--color-secondary-hd);
  margin: 1rem 0;
}

.board {
  width: 100%;
  min-height: 100px;
  border: 1px solid var(--color-border);
  padding: 1rem;
  position: relative;
  background-color: #fff;
  border-radius: 5px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 0;
  font-size: 1.8rem;
}

.form {
  width: 30%;
}

.inputField {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form .inputField input,
.form .inputField select {
  font-size: 1.8rem;
  border: 1px solid var(--color-border);
  border-radius: 0.5rem;
  padding: 0.2rem 1rem;
}
.form .inputField label {
  color: var(--color-hd);
  font-size: 1.2rem;
}

.emailContainer {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;
}
.addMemberBtn {
  width: 100%;
  background-color: var(--bg-color-dark);
  color: var(--color-link-light);
  text-align: center;
  padding: 0.5rem;
  margin-top: 2rem;
  border: 1px solid var(--color-border);
  border-radius: 0.5rem;
}
