.board {
  width: 100%;
  min-height: 100px;
  border: 1px solid var(--color-border);
  padding: 1rem;
  position: relative;
  background-color: #fff;
  border-radius: 5px;
}
.dashHeadingMain {
  font-size: 2.2rem;
  text-transform: uppercase;
  color: var(--color-secondary-hd);
  margin: 1rem 0;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2rem;
  padding: 4rem 1rem 1rem;
  width: 100%;
}

.control {
  grid-column: 1/2;
  background-color: var(--color-border);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-right: 1px solid var(--color-border);
  min-height: 20rem;
}
.actionLink:link,
.actionLink:visited,
button.actionLink {
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-main-dark);
  border: 1px solid var(--color-main-dark);
  background-color: var(--color-link-light);
  border-radius: 0.3rem;
}

.actionLink:hover,
.actionLink:active {
  border: 1px solid var(--color-line);
}

.active {
  font-size: 3rem;
}

main.main {
  grid-column: 2/8;
}

.dashHeading {
  font-size: 2.2rem;
  font-weight: 300;
  text-transform: uppercase;
  color: var(--color-secondary-hd);
  margin: 1rem 0;
}

.boardHeader {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 0 2rem 0.5rem;
  border-bottom: 2px solid var(--color-line);
}
.boardHeader span {
  font-size: 1.8rem;
}
.boardHeader h3 {
  font-size: 1.4rem;
  /* color: var(--color-hd); */
  color: var(--color-main-dark);
}
