.container {
  font-size: 1.6rem;
  min-width: 60rem;
  min-height: 50rem;
  padding-top: 0.8rem;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  top: 1.8rem;
}
.logoFirstLine {
  font-size: 2rem;
  font-weight: 700;
}
.logoFirstLine span {
  color: red;
  letter-spacing: 0.2rem;
}

.logoSecondary {
  font-size: 1.4rem;
  margin-left: 1.6rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: var(--color-main-dark);
  margin-bottom: 2.4rem;
  border-bottom: 0.2rem solid var(--color-line);
}

.orderStatesList {
  display: flex;
  flex-direction: column;
  margin-bottom: 7rem;
}

.heading {
  font-size: 2.2rem;
}
.date {
  font-size: 2rem;
}

.label {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--color-hd);
  margin-right: 0.5rem;
}

.sector {
  margin-top: 2rem;
  /* border-bottom: 1px solid var(--color-border); */
}

.block {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.line {
  margin-bottom: 0.5rem;
}

.metaData {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1rem;
}
.field {
  background-color: var(--color-link-light);
  position: relative;
  padding: 0.5rem 1rem 0;
  color: var(--color-main-dark);
  font-weight: 500;
  border: 1px solid var(--color-border);
  border-radius: 0.3rem;
}
.fieldLabel {
  background-color: var(--color-link-light);

  position: absolute;
  top: -1rem;
  left: 0.5rem;
  font-size: 1.2rem;
  color: var(--color-hd);
  padding-inline: 0.1rem;
}

.emptyField {
  min-height: 3.2rem;
}
.btn {
  text-transform: uppercase;
  border-bottom: 1px solid var(--color-line);
  position: absolute;
  right: 2rem;
  bottom: 2rem;
}

.notEnough,
.qty span.notEnough {
  /* font-size: 1.6rem; */
  font-weight: 500;
  color: red;
}
.qtyBlock {
  align-self: center;
  display: flex;
  flex-direction: column;
  width: 20%;
}
.label {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--color-hd);
  margin-right: 0.5rem;
}

.qty {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
}
.qty span {
  display: block;
  font-size: 1.2rem;
  color: var(--color-hd-second);
  margin-right: 1rem;
  width: 55%;
  text-transform: uppercase;
}

.headLine {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.headElement {
  width: 50%;
  font-size: 2rem;
}
