.wrapper {
  width: 1300px;
  padding: 2rem 0;
}

.dashHeading {
  font-size: 2.2rem;
  text-transform: uppercase;
  color: var(--color-secondary-hd);
  margin: 1rem 0;
}

.board {
  width: 100%;
  min-height: 100px;
  border: 1px solid gray;
  padding: 1rem 1rem 0;
}

.orders {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 1rem 0;
}
