.dashHeading {
  font-size: 2.2rem;
  text-transform: uppercase;
  color: var(--color-secondary-hd);
  margin: 1rem 0;
}

.board {
  width: 100%;
  min-height: 100px;
  border: 1px solid var(--color-border);
  border-radius: 5px;
  padding: 1rem 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #fff;
}

.boardHeading {
  font-size: 2rem;
  color: var(--color-hd-second);
}

.section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

form.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.label {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  color: var(--color-hd-second);
}
.label input.input,
.inputField {
  font-size: 1.8rem;
  color: var(--color-main-dark);
  padding: 0.8rem 1rem;
  border: 1px solid var(--color-border);
  border-radius: 0.3rem;
  width: 20rem;
}

.inputField {
  padding: 0.1rem 1rem;
}

.btnAdd {
  background-color: var(--bg-color);
  color: var(--color-link-light);
  /* width: fit-content; */
  width: 19.5rem;
  font-size: 2rem;
  padding: 0.4rem 1.4rem;
  margin-top: 1.3rem;
  text-transform: uppercase;
  border-radius: 0.3rem;
  /* align-self: flex-end; */
}

.btnAdd:hover {
  background-color: var(--bg-color-light);
}
