.contactWrapper {
  width: 95%;
}

.infoHeader {
  display: block;
  font-size: 2.2rem;
  line-height: 1.2;
  border-bottom: 2px solid var(--bg-color-light);
  margin-bottom: 1.8rem;
}

.infoHeader span {
  display: block;
  width: fit-content;
  background-color: var(--bg-color-light);
  color: var(--color-link-light);
  padding-inline: 1.5rem;
  border-top-right-radius: 1rem;
}

.fullData {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  margin: 1rem 0 2rem;
  font-size: 1.8rem;
  /* color: var(--color-hd); */
  row-gap: 1.6rem;
}
.row {
  width: 100%;
  height: 2.2rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--color-border-hover);
  padding-bottom: 0.8rem;
}
.orders {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 1rem 0;
}
