.orderLine {
  width: 100%;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 2rem;
  color: var(--color-main-dark);
  border-bottom: 1px solid var(--color-border);
}

.orderLine:nth-of-type(even) {
  background-color: var(--color-link-light);
}

.serial,
.dateCreated {
}

.serial span,
.dateCreated span {
  font-size: 1.6rem;
  font-weight: 300;
  color: var(--color-hd);
  margin-right: 1rem;
}

.figureLine {
  display: flex;
  align-items: center;
  margin-top: -2rem;
}

.circle {
  width: 3.5rem;
  height: 3.5rem;
  border: 0.1rem solid var(--button-gray-hover);
  border-radius: 50%;
  position: relative;
  background-color: #fff;
}

.circle span {
  position: absolute;
  top: 3.2rem;
  font-size: 1.8rem;
  font-weight: 300;
  color: var(--button-blue);
  left: 50%;
  transform: translate(-50%, 0);
}
.line {
  width: 20rem;
  height: 0.1rem;
  background-color: var(--button-gray-hover);
}

.circle span.icon {
  color: green;
  font-size: 2.4rem;
  font-weight: 700;
  position: absolute;
  top: -0.3rem;
}
.circle span.ionIcon {
  font-size: 2.4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-52%, -46%);
}
.circle span.preview {
  /* color: rgb(0, 139, 246); */
  color: rgb(73, 86, 97);
}
.circle span.started {
  color: rgb(246, 152, 0);
}
.circle span.returned {
  color: rgb(246, 0, 0);
}

.btn {
  text-transform: uppercase;
  border-bottom: 1px solid var(--color-line);
}
