.section {
  width: 100%;
  display: flex;
  /* flex-direction: column; */
  gap: 1rem;
  border: 1px solid var(--color-border);
  margin-bottom: 0.5rem;
  padding: 1rem;
}
.mainInfo {
  border-bottom: 1px solid var(--color-border);
}

.additional {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1rem;
  font-size: 1.6rem;
}

.additional p span {
  font-size: 1.4rem;
  color: var(--color-hd-second);
}

.itemInfo {
  width: 90%;
  border-right: 1px solid var(--color-border);
}

.info {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: 0.2rem;
  padding-right: 1rem;
}

.content {
  display: block;

  width: 90%;
  font-size: 1.6rem;
}

.content span {
  display: block;
  font-size: 1.2rem;
  color: var(--color-hd-second);
  margin-right: 1rem;
  width: 50%;
}

.qty {
  width: 15%;
}

.actions {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
