.dashHeading {
  font-size: 2.2rem;
  text-transform: uppercase;
  color: var(--color-secondary-hd);
  margin: 1rem 0;
}
.listHeading,
.infoHeading,
.boardHeading {
  font-size: 1.8rem;
  text-transform: uppercase;
  color: var(--color-secondary-hd);
}

.listHeading {
  margin: 3rem 0 2rem;
}

.infoHeading {
  margin: 0rem 0 2.6rem;
}

.board {
  width: 100%;
  min-height: 100px;
  border: 1px solid var(--color-border);
  border-radius: 5px;
  padding: 1rem 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #fff;
}

.serial {
  font-size: 1.4rem;
}

/* .orderLine {
    width: 100%;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 2rem;
    color: var(--color-main-dark);
    border-bottom: 1px solid var(--color-border);
  } */

.serial span,
.dateCreated span {
  font-size: 1.6rem;
  font-weight: 300;
  color: var(--color-hd);
  margin-right: 1rem;
}

.dateContainer {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 2rem;
}

.summary {
  width: 35%;
  border-right: 1px solid var(--color-border);
}
.intervalInfo {
  width: 69%;
  padding-left: 3.5rem;
}

.element {
  display: flex;
  flex-direction: column;
}

.block {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

/* .infoHeading {
  margin-bottom: 2rem;
  font-size: 2rem;
  color: var(--color-hd);
} */

.list {
  list-style: disc;
  font-size: 1.4rem;
  color: var(--color-hd);
}

/* .boardHeading {
  font-size: 2rem;
  color: var(--color-hd-second);
} */

.section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  margin-top: 2rem;
}

form.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.label {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  color: var(--color-hd-second);
}
.label input.input,
.inputField {
  font-size: 1.8rem;
  color: var(--color-main-dark);
  padding: 0.8rem 1rem;
  border: 1px solid var(--color-border);
  border-radius: 0.3rem;
  width: 20rem;
}

.inputField {
  padding: 0.1rem 1rem;
}
