.modalBg {
  width: 100vw;
  height: 100vh;
  background-color: rgba(128, 128, 128, 0.509);
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  z-index: 1;
}

.modalBg::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(4px);
}

.fullInfo {
  background-color: #fff;
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 2rem;
  position: relative;
  padding: 4rem 2rem 2rem 2rem;
  color: var(--color-main-dark);
  border-radius: 0.5rem;
  background-color: #faf8ff;
}
button.closeIcon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 3rem;
  cursor: pointer;
}

.baseImg {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-border);
}

.personData {
  border-left: 1px solid var(--color-border);
  padding-inline: 2rem 0;
}
.heading {
  width: fit-content;
  padding-right: 0.5rem;
  font-size: 3rem;
  font-weight: 300;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--color-line);
}

.infoBox {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.info {
  font-size: 2rem;
  color: var(--color-main-dark);
  position: relative;
  padding: 0.3rem 3rem 0 3rem;
  border: 1px solid var(--color-border);
  border-radius: 0.3rem;
  background-color: #fff;
}

.info span {
  position: absolute;
  top: -1rem;
  left: 0.5rem;
  background-color: #fff;
  padding-inline: 0.5rem;
  font-size: 1.2rem;
  font-weight: 300;
  color: var(--color-border-hover);
}
