.card {
  min-width: 18rem;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid var(--color-border);
  overflow: hidden;
  transition: all 0.4s ease-in-out;
  gap: 3.6rem;
  position: relative;
}
.card:hover {
  border: 1px solid var(--color-border-hover);
}

.card-img {
  width: 100%;
  object-fit: contain;
  transition: all 0.4s ease-in-out;
  z-index: 1;
  border-bottom: 2px solid transparent;
  box-shadow: 2px 2px 10px transparent;
}

.card:hover .card-img {
  /* transform: scale(1.05) translate(0, -2rem); */
  transform: scale(1.05);
  border-bottom: 2px solid #ffd43b;
  box-shadow: 2px 1px 6px #000000b3;
}
.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  padding: 0 2rem 3rem;
  z-index: 2;
}
.card-hd {
  font-size: 2.2rem;
  font-weight: 400;
  color: var(--color-main-dark);
  display: inline-block;
  width: fit-content;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid var(--color-line);
  margin-bottom: 2rem;
}

.card-hd span {
  color: var(--color-line);
}

.card-pf {
  font-size: 1.8rem;
  line-height: 1.3;
  color: var(--color-hd-second);
  height: 10rem;
}

.card-pf:nth-of-type(2) {
  text-align: right;
  height: unset;
  align-self: flex-end;
}

.card-link:link,
.card-link:visited {
  background-color: var(--color-main-dark);
  color: var(--color-link-light);
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.8rem 1.6rem;
  border-radius: 10px;
  border: 1px solid transparent;
  transition: all 0.2s ease-in-out;
}

.card-link:hover,
.card-link:active {
  background-color: var(--color-link-light);
  color: var(--color-main-dark);
  box-shadow: inset 0px 0px 0px 2px var(--color-border-hover);
  border: 1px solid var(--color-main-dark);
  box-shadow: 0px 1px 3px 1px #71707059;
}

.main-red {
  color: var(--color-line);
}

.top {
  text-transform: uppercase;
  position: absolute;
  top: 35px;
  right: -68px;
  transform: rotate(45deg);
  background-color: #ffd43b;
  font-size: 1.4rem;
  font-weight: 700;
  color: #333;
  padding: 0.8rem 8rem;
  z-index: 10;
  transition: all 0.3s ease-in-out;
  border-radius: 0.8rem;
}

.card:hover .top {
  transform: scale(1.1);
  transform: translate(-33.5%, -90%);
  font-size: 2.4rem;
  font-weight: 700;
  padding: 0.1rem 4rem;
  letter-spacing: -1px;
  box-shadow: 0px 3px 5px #3333333a;
}

.priceTag {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price {
  font-size: 6.2rem;
  font-weight: 300;
  color: var(--color-hd);
}

.price span.priceDecimal {
  font-size: 5.2rem;
}
