.comment {
  background-color: var(--color-border);
  display: flex;
  flex-direction: column;
  padding: 3rem;
  border-radius: 10px;
}

.user {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.user img {
  width: 6rem;
  border-radius: 50%;
}

.user-name {
  font-size: 2rem;
  font-weight: 600;
  color: var(--color-line);
}

.post-date {
  font-size: 1.4rem;
  color: var(--color-hd);
}

.post-content {
  font-size: 1.8rem;
  font-weight: 300;
  font-style: italic;
  color: var(--color-main-dark);
}

.likes {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 1.6rem;
  margin-top: 3rem;
}
