.comment {
  background-color: var(--color-border);
  display: flex;
  flex-direction: column;
  height: 24.5rem;
  padding: 3rem 3rem 4rem;
  /* text-overflow: ellipsis; */
  border-radius: 10px;
}

.header {
  display: flex;
  align-items: center;

  justify-content: space-between;
  width: 100%;
}
.commentedPart {
  font-size: 1.8rem;
  margin-left: auto;
}

.user {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.user img {
  width: 6rem;
  border-radius: 50%;
}

.user-name {
  font-size: 2rem;
  font-weight: 600;
  color: var(--color-line);
}

.post-date {
  font-size: 1.4rem;
  color: var(--color-hd);
}

.post-content {
  font-size: 1.8rem;
  font-weight: 300;
  font-style: italic;
  color: var(--color-main-dark);
  overflow: hidden;
  position: relative;
}
.commentOverflow {
  position: absolute;
  top: 7.5rem;
  width: 120%;
  height: 10px;
  box-shadow: -9px 23px 6px #e2e2e2;
}

.likes {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 1.6rem;
  margin-top: 3rem;
}
