.container {
  max-width: 130rem;
  position: relative;
}

.hero {
  width: 100%;
  position: relative;
  margin-top: 100px;
}

.hero-img {
  width: 100%;
}

.hero-text {
  width: 60rem;
  position: absolute;
  top: 50%;
  left: 60%;
  color: var(--color-link-light);
  transform: translate(0%, -50%);
}

.hero-hd {
  font-size: 4.4rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.hero-pf {
  font-size: 2rem;
  line-height: 1.6;
}

@media (max-width: 1516px) {
  .hero-text {
    width: 50rem;
  }
}
@media (max-width: 1250px) {
  .hero-text {
    width: 45rem;
  }
  .hero-hd {
    font-size: 4rem;
    font-weight: 500;
  }
}
@media (max-width: 1145px) {
  .hero-text {
    width: 35rem;
  }
  /*  .hero-hd {
    font-size: 4rem;
    font-weight: 500;
  } */
}
@media (max-width: 900px) {
  .hero-img {
    width: 100%;
    /* aspect-ratio: 6/4; */
    object-fit: contain;
    object-position: top;
  }
}
@media (max-width: 785px) {
  .hero-img {
    width: 100%;
    aspect-ratio: 4/2;
    object-fit: cover;
    object-position: top;
  }
  .hero-text {
    left: 55%;
  }
  .hero-hd {
    font-size: 3rem;
    font-weight: 400;
  }
  .hero-pf {
    font-size: 1.8rem;
    line-height: 1.2;
    font-weight: 300;
  }
}
@media (max-width: 430px) {
  .hero {
    margin-top: 90px;
  }
  .hero-img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: top;
  }
  .hero-text {
    left: 15%;
    top: 86%;
  }
  .hero-hd {
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 0.5rem;
    text-align: right;
  }
  .hero-pf {
    font-size: 1.2rem;
    line-height: 1.3;
    font-weight: 200;
  }
}
@media (max-width: 390px) {
  .hero {
    margin-top: 85px;
  }
  .hero-img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: top;
  }
  .hero-text {
    left: 5%;
    top: 86%;
  }
  .hero-hd {
    font-size: 2rem;
    font-weight: 300;
    margin: 0 1rem 0.5rem 0;
    text-align: right;
  }
  .hero-pf {
    font-size: 1.4rem;
    line-height: 1.3;
    font-weight: 200;
  }
}
@media (max-width: 375px) {
  .hero {
    margin-top: 85px;
  }
  .hero-img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: top;
  }
  .hero-text {
    left: 5%;
    top: 86%;
  }
  .hero-hd {
    font-size: 2rem;
    font-weight: 300;
    margin: 0 1rem 0.5rem 0;
    text-align: right;
  }
  .hero-pf {
    font-size: 1.4rem;
    line-height: 1.3;
    font-weight: 200;
  }
}
