.container {
  max-width: 130rem;
  position: relative;
}

.model-selection {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10rem 0;
}

.model-selection-hd {
  font-size: 3.6rem;
  color: var(--color-hd);
  margin: 3rem 0 3rem;
}

.bottom-line {
  display: inline-block;
  width: 15rem;
  border-radius: 5px;
  border-bottom: 2px solid var(--color-line);
  margin-bottom: 5rem;
}

.color-hd {
  color: var(--color-line);
}

.custom-bike {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  margin-bottom: 10rem;
}

.secondary-hd {
  font-size: 2.6rem;
  font-weight: 300;
  color: var(--color-secondary-hd);
}

.steps {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  margin: 12rem 0 5rem;
  text-transform: uppercase;
}

.step {
  width: 30rem;
  font-size: 2.2rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  text-decoration: none;
  color: var(--color-main-dark);
}

.step p {
  z-index: 1;
}
.steps-icon {
  font-size: 2.2rem;
  color: var(--color-line);
  line-height: 3rem;
}
.step-img {
  position: absolute;
  width: 100%;
  filter: saturate(0);
  opacity: 0.1;
  z-index: 0;
}

.step-link:link,
.step-link:visited {
  background-color: #c92a2a;
  color: var(--color-link-light);
  font-size: 2rem;
  text-align: center;
  line-height: 4rem;
  /* padding: 0.8rem 1.4rem; */
  border: 1px solid var(--color-main-dark);
  border-radius: 10px;
  text-decoration: none;
}

.step-link:hover,
.step-link:active {
  color: var(--color-link-light-hover);
}

.cards {
  padding: 0 10rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
}

@media (max-width: 1250px) {
  .steps {
    padding-inline: 3rem;
  }
  .step {
    font-size: 2rem;
  }
}
@media (max-width: 1145px) {
  .steps {
    gap: 1.5rem;
  }
  .steps .step-link {
    font-size: 1.8rem;
    line-height: 3rem;
    border-radius: 7px;
  }
}
@media (max-width: 1050px) {
  .steps {
    gap: 1rem;
    padding-inline: 0.5rem;
  }
  .step {
    width: 25rem;
  }
}

@media (max-width: 900px) {
  .steps {
    gap: 0.5rem;
    font-size: 1.8rem;
  }
  .step {
    width: 20rem;
  }
  .steps .step-link {
    line-height: 2.5rem;
  }
  .cards {
    padding: 0 3rem;
    gap: 2rem;
  }
}
@media (max-width: 785px) {
  .steps {
    grid-template-columns: repeat(1, 1fr);
    gap: 15rem;
    margin: 8rem 0 2rem;
  }
  .model-selection {
    padding: 2rem 0 4rem;
  }
}

@media (max-width: 430px) {
  .model-selection-hd {
    font-size: 4rem;
    text-align: center;
    margin-block: 2rem 0;
  }
  .custom-bike {
    margin-bottom: 0;
  }
  .cards {
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }
  .steps {
    grid-template-columns: repeat(1, 1fr);
    gap: 15rem;
    margin: 8rem 0 2rem;
  }
  .steps .step-link {
    line-height: 3;
    margin-top: -4rem;
  }
  .model-selection {
    padding: 2rem 0 6rem;
  }
}

@media (max-width: 375px) {
  .model-selection-hd {
    font-size: 3.4rem;
    text-align: center;
    margin-block: 2rem 0;
  }
  .custom-bike {
    margin-bottom: 0;
  }
  .steps {
    grid-template-columns: 1fr;
    gap: 11rem;
    margin: 2rem 0 2rem;
  }
  .step {
    width: 20rem;
  }
  .steps .step-link {
    line-height: 3;
    margin-top: -4rem;
  }
  .bottom-line {
    width: 40%;
    height: 2rem;
    border-bottom: 2px solid var(--color-line);
    border-radius: unset;
    margin-bottom: 3rem;
  }
  .cards {
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }
}
