.orderContainer {
  margin-top: 1rem;
  margin-bottom: 1rem;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.orderDetails {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    font-size: small;
}

.orderContainer h2 {
  font-family: inherit;
  font-size: large;
}
