.dashHeading {
  font-size: 2.2rem;
  text-transform: uppercase;
  color: var(--color-secondary-hd);
  margin: 1rem 0;
}

.board {
  width: 100%;
  min-height: 100px;
  border: 1px solid var(--color-border);
  border-radius: 5px;
  padding: 1rem 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #fff;
}

.ordersBlock {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.message {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.notEnoughHeader {
  font-size: 2.2rem;
  font-weight: 500;
}
.notEnoughMessage {
  font-size: 1.8rem;
  font-weight: 300;
}

.notEnoughMessage a:link,
.notEnoughMessage a:visited {
  color: var(--color-line);
  text-transform: uppercase;
  font-weight: 400;
  text-decoration: none;
}
