.wrapper {
  width: 1300px;
  padding: 2rem 0;
}

.dashHeading {
  font-size: 2.2rem;
  text-transform: uppercase;
  color: var(--color-secondary-hd);
  margin: 1rem 0;
}

.board {
  width: 100%;
  min-height: 100px;
  border: 1px solid var(--color-border);
  padding: 1rem;
  position: relative;
  background-color: #fff;
  border-radius: 5px;
}

.boardHeader {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 0 2rem 1rem;
  border-bottom: 2px solid var(--color-line);
}

.boardHeader span {
  font-size: 1.8rem;
}
.boardHeader h3 {
  font-size: 2rem;
  color: var(--color-main-dark);
  margin-bottom: 2px;
}
/* .boardHeader h3 span {
    font-size: 1.8rem;
    color: var(--color-hd);
  } */

.logout {
  font-size: 2rem;
  color: var(--color-secondary-hd);
  margin-left: auto;
}

.orders {
  padding: 1rem 0;
}

.userInfoWrapper {
  display: grid;
  grid-template-columns: 2fr 4fr;
  margin-top: 3rem;
}
.mainInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.6rem;
  padding: 0 0 2rem 2rem;
}

.imgHolder {
  position: relative;
  width: 80%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 2rem 4.5rem 2rem;
  border: 1px solid var(--color-border-hover);
  border-radius: 0.3rem;
}

.uploadPicture {
  position: absolute;
  top: 0.5rem;
  right: 0.8rem;
  cursor: pointer;
}

.userImgBox {
  position: absolute;
  top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.userImg {
  width: 95%;
  height: 95%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 0.3rem;
}

.usernameHeading {
  font-size: 2.4rem;
  font-weight: 500;
}

.userEmail {
  font-size: 2rem;
  line-height: 0.5;
}

.userInfoControl {
  display: flex;
  height: 8rem;
  align-items: flex-end;
  padding-left: 2rem;
  /* margin-bottom: 6rem; */
}

.infoWrapper {
  /* width: 15rem; */
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  /* margin-left: auto; */
}
.addMoney,
.editBtn,
.backBtn {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 300;
  padding: 0.8rem 0;
  color: var(--color-link-light);
  border-radius: 0.3rem;
  background-color: var(--button-blue);
  text-transform: uppercase;
}

.addMoney,
.editBtn {
  width: 200px;
}

.backBtn {
  width: 200px;
  /* margin: auto auto 0 1.5rem; */
}
/* 
.userInfoControl input.addMoneyInput {
  text-align: right;
  width: 187px;
  height: 3.8rem;
  padding: 0 0.5rem;
  font-size: 1.8rem;
  color: var(--color-main-dark);
  border: 1px solid var(--color-border-hover);
  border-radius: 0.3rem;
}

.userInfoControl input.addMoneyInput::-webkit-outer-spin-button,
.userInfoControl input.addMoneyInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.userInfoControl input.addMoneyInput[type="number"] {
  -moz-appearance: textfield;
} */
