.table {
  max-width: 100%;
  text-align: center;
  font-size: 1.5rem;
  font-family: inherit;
  border-collapse: collapse;
}

.head {
  font-size: 2rem;
}

.rowHead {
  height: 3rem;
}

.row:hover {
  background-color: lightgrey;
}

.row th,
.row td {
  border: 1px solid black;
  padding: 0.5rem;
  margin: 0;
}

.row td ul {
  padding: 0;
  margin: 0;
  text-align: start;
}

.row td ul li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 3rem;
}

.row td a:hover {
  color: green;
}

.partContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.partContainer p {
  width: 100%;
  display: block;
  border-bottom: 1px solid black;
  font-size: large;
  font-weight: bold;
}

.partContainer p span {
  opacity: 0.55;
}

.comment {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 3rem;
  font-size: large;
}

.view {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: large;
  font-style: italic;
  margin-top: 1rem;
}
.view:hover {
  color: green;
  cursor: pointer;
}

.commentTitle {
  width: 100%;
  font-weight: bold;
  border-bottom: 1px solid black;
}

.commentText {
  opacity: 0.8;
  margin-top: 1rem;
  font-style: italic;
}
