.boardHeader {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 0 2rem 1rem;
  border-bottom: 2px solid var(--color-line);
}

.boardHeader span {
  font-size: 1.8rem;
}
.boardHeader h3 {
  font-size: 2rem;
  color: var(--color-main-dark);
  margin-bottom: 2px;
}

.logout {
  font-size: 2rem;
  color: var(--color-secondary-hd);
  margin-left: auto;
}

.userControls {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.userControls a:link,
.userControls a:visited {
  text-decoration: none;
  color: var(--color-main-dark);
  transition: all 0.3s ease-in;
}

.userControls a:hover,
.userControls a:active {
  color: var(--bg-color);
}
