.formContainer {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* width: 70%; */
  width: 50%;
  /* height: auto; */
  /* background-color: wheat; */
  padding: 3rem 3rem 1rem;
  /* font-family: inherit; */
  /* font-size: x-large; */
  margin-top: 3rem;
  /* margin-bottom: 1rem; */
  margin-bottom: 3rem;
  /* border: 2px solid black; */
  border: 1px solid var(--color-hd-second);
  /* border-radius: 20px; */
  border-radius: 0.3rem;
}

.divForm {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

.labelForm {
  /* display: block; */
  /* max-width: 12rem; */
  /* border: 1px solid black; */
  /* border-radius: 10px; */
  /* padding: 0.5rem; */
  /* margin-bottom: 1rem; */
  margin-bottom: 0.2rem;
  /* background-color: var(--color-link-light); */
  font-size: 1.2rem;
}

.formContainer .divForm input {
  max-width: 30%;
  padding: 0.3rem 0.6rem;
  /* border: 1px solid black; */
  border: 1px solid var(--color-hd-second);
  /* border-radius: 5px; */
  border-radius: 0.3rem;
  /* background-color: white; */
  /* font-size: medium; */
  font-size: 1.8rem;
}

.spanForm {
  color: red;
}

.formContainer textarea {
  padding: 0.5rem;
  /* border: 1px solid black; */
  border: 1px solid var(--color-hd-second);

  /* border-radius: 5px; */
  border-radius: 0.3rem;
  /* background-color: white; */
  /* font-size: medium; */
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.divForm2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.divForm2 button {
  /* background-color: black; */
  background-color: var(--bg-color-dark);
  /* display: block; */
  /* border: 1px solid black; */
  /* border-radius: 10px; */
  /* padding: 1rem; */
  padding: 1rem 2rem;
  /* color: white; */
  color: var(--color-link-light);
  border-radius: 0.3rem;
  font-size: 1.6rem;
  font-weight: 300;
  text-transform: uppercase;
}

.divForm2 button:hover {
  /* display: block; */
  /* border: 1px solid black; */
  /* border-radius: 10px; */
  /* padding: 1rem; */
  /* background-color: rgb(4, 57, 4); */
  background-color: var(--bg-color);

  /* color: burlywood; */
}
