.board {
  width: 100%;
  min-height: 100px;
  border: 1px solid var(--color-border);
  border-radius: 5px;
  padding: 2rem 3rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #fff;
}

.cardContainer {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 12rem;
}

.cardForm {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
}

.inputCardField {
  width: 100%;
  position: relative;
}

.fieldCardLabel {
  background-color: #fff;
  font-size: 1rem;
  position: absolute;
  top: -0.5rem;
  left: 1rem;
  padding-inline: 0.3rem;
  color: var(--color-hd-second);
}

.cardForm input.cardInput {
  width: 100%;
  padding: 0.3rem 0.4rem 0.2rem;
  font-size: 1.8rem;
  border: 1px solid var(--color-border);
  border-radius: 0.3rem;
}
.cardForm input.cardInput::placeholder {
  color: #c7c7c7;
}

.twoOnRow {
  display: flex;
  gap: 2rem;
  width: 100%;
}

.expDateField {
  width: 65%;
}
.cvcField {
  width: 35%;
}

.amountBlock {
  display: flex;
  gap: 2rem;
}
.amount {
  width: 65%;
}

.amountBtn {
  background-color: var(--bg-color);
  display: block;
  width: 100%;
  padding: 0.5rem 0.55rem;
  font-size: 1.6rem;
  color: var(--color-link-light);
  text-transform: uppercase;
  text-align: center;
  border-radius: 0.3rem;
}

.amountBtn:hover {
  background-color: var(--bg-color-light);
}
.amountBtn:disabled {
  background-color: var(--bg-color-light);
  opacity: 0.5;
  cursor: not-allowed;
}

.errorContainer {
  font-size: 2rem;
  color: var(--color-warning);
  width: 100%;
  height: 2rem;
}
