.footer {
  padding: 10rem 10rem 2rem;
}
.logo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.logoFirstLine:link,
.logoFirstLine:visited {
  font-size: 2.4rem;
  font-weight: 500;
  letter-spacing: 0.4rem;
  color: var(--color-link-light);
  text-decoration: none;
}

.logoFirstLine:hover,
.logoFirstLine:active {
  color: var(--color-link-light-hover);
}

.logoFirstLine span {
  color: red;
  letter-spacing: 0.2rem;
}

.logoSecondary {
  font-size: 1.6rem;
  margin-left: 2.1rem;
}

.footer,
.copyright {
  background-color: var(--color-hd);
  text-transform: uppercase;
  color: var(--color-link-light);
}

.footer-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 4rem;
}

.social {
  text-transform: none;
}
.social-icons {
  font-size: 3.2rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer-list-item {
  width: 50%;
  padding-left: 1rem;
  border-bottom: 2px solid transparent;
  transition: all 0.2s ease-in-out;
}

.footer-link:link,
.footer-link:visited {
  font-size: 1.8rem;
  font-weight: 300;
  text-decoration: none;
  color: var(--color-link-light);
}

.footer-list-item:hover,
.footer-link:active {
  border-bottom: 2px solid var(--color-line);
}

.copyright {
  font-size: 1.2rem;
  text-align: left;
  padding-block: 2rem;
}
