.wrapper {
  width: 130rem;
  margin: 3rem auto;
}
.dashHeading {
  font-size: 2.2rem;
  text-transform: uppercase;
  color: var(--color-secondary-hd);
  padding: 1rem 0 2rem;
}

.board {
  width: 100%;
  min-height: 600px;
  border: 1px solid var(--color-border);
  border-radius: 5px;
  padding: 1rem 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #fff;
}

.partContainer {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 1rem;
}

.partContainer .left {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.partContainer .left h2 {
  font-style: italic;
  font-size: x-large;
  opacity: 0.7;
}

.partContainer .left p {
  text-align: center;
  font-size: large;
  font-weight: 500;
}

.partContainer .right {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.partContainer .right p {
  width: 100%;
  display: block;
  border-bottom: 1px solid black;
  font-size: large;
  font-weight: bold;
}

.partContainer .right p span {
  font-style: italic;
  opacity: 0.55;
}

.commentContainer {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  background-color: #f0f0f0;
  padding: 15px;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.commentContainer h3 {
  max-width: fit-content;
  color: #333;
  font-size: 2rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  line-height: 2rem;
}

.commentContainer p {
  color: #555;
  font-size: 1.5rem;
  padding: 0.5rem;
}

.addCommentButton {
  background-color: gray;
  color: #fff;
  padding: 10px 15px;
  font-size: 1.2rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.addCommentButton:hover {
  background-color: #45a049;
  color: black;
}

.editCommentButton {
  background-color: grey;
  color: #fff;
  padding: 10px 15px;
  font-size: 1.2rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 1rem;
}

.editCommentButton:hover {
  background-color: #45a049;
  color: black;
}

.commentFormContainer {
  background-color: #f0f0f0;
  padding: 15px;
  margin-top: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 50%;
}

.commentFormContainer h3 {
  color: #333;
  margin-bottom: 10px;
  font-size: large;
}

.commentFormContainer form {
  display: flex;
  flex-direction: column;
}

.commentFormContainer label {
  margin: 0.5rem 0;
  font-size: medium;
  font-style: oblique;
}

.commentFormContainer form input,
.commentFormContainer textarea {
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  line-height: 2rem;
  font-size: medium;
  border: 1px solid black;
}

.commentFormContainer form input {
  max-width: fit-content;
}

.commentFormContainer button {
  width: 6rem;
  height: 2rem;
  background-color: gray;
  color: #fff;
  padding: 1rem;
  font-size: 1.5rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  align-self: center;
  margin-top: 1rem;
  text-align: center;
}

.commentFormContainer button:hover {
  background-color: #45a049;
  color: black;
}
