.componentBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

.spacer {
  height: 9rem;
}

.container {
  max-width: 130rem;
  min-height: 670px;

  position: relative;
}

@media (max-width: 900px) {
  .container {
    max-width: 100%;
  }
  .wrapper {
    width: 900px;
  }
}
@media (max-width: 785px) {
  .wrapper {
    width: 785px;
  }
}
@media (max-width: 430px) {
  .wrapper {
    width: 430px;
  }
  .userInfoWrapper {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 375px) {
  .wrapper {
    width: 375px;
  }
}
