.dashHeading {
  font-size: 2.2rem;
  text-transform: uppercase;
  color: var(--color-secondary-hd);
  margin: 0 1rem 1rem;
  text-align: right;
}

.board {
  width: 100%;
  min-height: 100px;
  border: 1px solid var(--color-border);
  border-radius: 5px;
  padding: 1rem 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #fff;
}

.dashHeadingMain {
  font-size: 2.2rem;
  text-transform: uppercase;
  color: var(--color-secondary-hd);
  margin: 1rem 0;
}
.wrapper {
  display: flex;
  gap: 2rem;
  padding: 4rem 1rem 1rem;
}

.control {
  background-color: var(--color-border);
  width: 12%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-right: 1px solid var(--color-border);
}

.actionLink:link,
.actionLink:visited {
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-main-dark);
  border: 1px solid var(--color-main-dark);
  background-color: var(--color-link-light);
  border-radius: 0.3rem;
}

.actionLink:hover,
.actionLink:active {
  border: 1px solid var(--color-line);
}

main.main {
  width: 88%;
}

.dashHeadingSec {
  font-size: 2.2rem;
  font-weight: 300;
  text-transform: uppercase;
  color: var(--color-secondary-hd);
  margin: 1rem 0;
}

.boardHeader {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 0 2rem 0.5rem;
  border-bottom: 2px solid var(--color-line);
}
.boardHeader span {
  font-size: 1.8rem;
}
.boardHeader h3 {
  font-size: 1.4rem;
  /* color: var(--color-hd); */
  color: var(--color-main-dark);
}
.cardHolder {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-bottom: 4rem;
}
.cardHolder:last-child {
  margin-bottom: 0;
}

.spacer {
  margin-bottom: 4rem;
}
