.navigation {
  background-color: var(--color-main-dark);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 5rem;
  color: var(--color-link-light);
  position: fixed;
  top: 0;
  z-index: 999999;
  overflow: hidden;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.logoFirstLine:link,
.logoFirstLine:visited {
  font-size: 2.4rem;
  font-weight: 500;
  letter-spacing: 0.4rem;
  color: var(--color-link-light);
  text-decoration: none;
}

.logoFirstLine:hover,
.logoFirstLine:active {
  color: var(--color-link-light-hover);
}

.logoFirstLine span {
  color: red;
  letter-spacing: 0.2rem;
}

.logoSecondary {
  font-size: 1.6rem;
  margin-left: 2.1rem;
}

.navList {
  position: relative;
  display: flex;
  gap: 2rem;
}

.navLink:link,
.navLink:visited {
  font-size: 2rem;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-link-light);
  transition: all 0.2s ease-in;
}

.navLink:hover,
.navLink:active,
.navLink:focus {
  color: var(--color-link-light-hover);
}
.navLink:global(.active) {
  border-bottom: 1px solid var(--color-line);
}

.cartIcon {
  position: absolute;
  top: -1.1rem;
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 2;
  color: var(--color-line);
}
.mobileNav {
  display: none;
}

@media (max-width: 785px) {
  .navigation {
    padding: 2rem 3rem;
  }
  .navList .navLink {
    font-size: 1.8rem;
  }
  .mobileNav {
    display: none;
  }
}

@media (max-width: 430px) {
  .navigation {
    width: 100%;
    max-width: 430px;
  }
  .logo .logoFirstLine {
    font-size: 2rem;
  }
  .logoSecondary {
    font-size: 1.4rem;
    margin-left: 0;
  }
  .nav {
    display: none;
  }
  .mobileNav {
    display: block;
    position: absolute;
    top: 20%;
    left: 86%;
  }
}
@media (max-width: 390px) {
  .navigation {
    width: 100%;
  }
}
@media (max-width: 375px) {
  .navigation {
    width: 375px;
  }
  .mobileNav {
    left: 86%;
  }
}
